html,body,div,p,ul,ol,li,dl,dt,dd,form,table,tr,td,hr,h1,h2,h3,h4,h5,h6,fieldset,figure,legend{
	margin:0;
	padding:0;
}
ul{  
	 margin: 0;
	 padding:0; 
} 
li{ 
	 list-style: none; 
} 
img{
 	 border:0;
}
 a{
	text-decoration:none;
}
/*header*/
#header{
	width:100%;
	height:70px;
	background: #323131;
}
#header .warpper-header{
	width:1186px;
	height:70px;
	background: #323131;
	margin: 0 auto;
}
.li_one{
	float:left;
	margin-left: 20px;
	line-height: 70px;
}
.li_one a{
	font-size:14px;
	color: #999;
}
#header .warpper-header ul{
	float:right;
}

#header .warpper-header img{
	margin-top:6px;
}
.li_one:hover a{
	color:red;
}
/*footer*/
.footer{
	width:100%;
	height:450px;
	background:#f5f5f5;
}
.footer_ul{
	width:1200px;
	height:281px;
	line-height:50px;
	list-style: none;	
	padding-top:30px;
	margin-left:30px;
	list-style:none;
}
.footer_li{
	width:236px;
	height:136px;
	float:left;
}
.footer_li a{
	display:block;
}
.footer_li:nth-child(n) :hover{
	color:orange;
}
.footer_one{
	width:1200px;
	height:36px;
	margin-top:210px;
}
.footer_one span{
	margin-top:10px;
	margin-right:28px;
}
.footer_one a{
	margin-top:10px;
	margin-right:28px;
}
a img{
	vertical-align:middle;
}
.footer_one:hover a{
	color:red;
}
.footer_two{
	width:1200px;
	height:36px;
	margin-top:10px;
	font-size:14px;
}
.footer_img{
	width:1200px;
	height:42px;
	margin-top:20px;
}
.footer_img img{
	width:109px;
	height:100%;
	margin-right:30px;
}